*{
    margin: 0;
    padding: 0;
}

.Hero__Section{
    background:url(image/heroSectionBackground.png);
    min-height: 65vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 16px 40px;
}

.navbar a{
    color: white;
    text-decoration: none;

}

.navbar_menu_contents{
    display: flex;
    gap: 20px;
}

.user_icon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}


.Hero__Section_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.hero_section_logo{
    width: 200px;
    height: auto;
}

.hero_section_title{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.Hero__Section_input_contents{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

 .input_contents_Search {
    border: none;
    outline: none;
    padding: 5px;
    width: 65%;
}

.input_contents_location{
    border: none;
     outline: none;
    padding: 5px;
    width: 35%;
    border-right: 2px solid #e0e0e0;
    border-radius: 15%;
} 


@media only screen and (max-width:600px){
    .user_icon{
        display:flex;
    }
    .link{
        display: none;
    }
    .Hero__Section{
        min-height: 80vh;
    }
    .Hero__Section_input_contents{
        flex-direction: column;
        background-color: transparent;
        width: 95%;
    }
    .input_contents_Search,.input_contents_location{
        padding: 15px;
        border-radius: 10px;
        width: 90%;

    }
}

.contents{
    margin: 3rem auto;
    width: 90;
}
.offer_section{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.card{
    border-radius: 10px;
    /* background-color: brown; */
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 280px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.card_content{
    padding: 10px;
}

.card_content h2{
    font-size: 20px;
    font-weight: 400;
}
.card_content p{
  font-size: 12px;
}
.collection h1{
 font-weight: 600;
 padding-left: 50px;

}

.Sub_headings{
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 50px;

}

.Sub_headings span:nth-child(2){
    color: #ff7e80;
    font-size: 13px;
    cursor: pointer;
    padding-right: 50px;

}

.collection_card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.collectioncard{
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1{
    background-image: url(image/collection1.jpg);
}
.card2{
    background-image: url(image/collection2.jpg);
}
.card3{
    background-image: url(image/collection3.jpg);
}
.card4{
    background-image: url(image/collection4.jpg);
}
.overlay{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:10px;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 32%, rgba(0, 0, 0, 0.3) 38%, rgba(0, 0, 0, 0.2) 38%, rgba(0,0, 0, 0) 100%);
}
.content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
}
.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}
.get_the_zomato_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,251,247);
    width: 100%;
    padding: 3rem 6rem;
}

.get_the_zomato_app .semicontents{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get_the_zomato_app .semicontents .left{
    flex: 2;
}

.get_the_zomato_app .semicontents .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    min-height: 41vh;
}

.get_the_zomato_app .semicontents .right{
     flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.right h1{
     font-weight: 400;
    font-size: 2rem;
}

.right p{
   font-size: 0.8rem;
} 

.right .radiobutton{
     display: flex;
    align-items: center;
    gap: 1rem;
}

.right .radiobutton div{
 display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.right .radiobutton div input{
     height: 15px;
    width: 15px;
    accent-color: rgb(239, 79, 95);
}

.right .input_content{
    display: flex;
    gap: 0.5rem;
}

.input_content{
     flex-wrap: wrap;
}

.input_content input , .input_content button{
    padding: 10px 12px;

}

.input_content input{
    flex: auto;
    border:  1.5px solid gray;
    outline: none;
    border-radius: 5px;
}

.input_content button{
     border: none;
    background-color: rgb(239, 79, 95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right .download_app_content{
     display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.right .download_app_content h5{
    font-weight: 400;
    color: gray;
}

.right .download_app_content div{
     display: flex;
    gap: 1rem;
}

.right .download_app_content div img{
    width: 35%;
    

}


.download_app_content h5{
    font-size: 20px;
    color: gray;
    font-weight: 400;
}

.download_app_content img{
    min-height: 7vh;
}
@media only screen and (max-width: 1300px){
    .get_the_zomato_app .semicontents .left,
    .get_the_zomato_app .semicontents .right{
        flex: 1;
    }
     .get_the_zomato_app .semicontents{
         width: 80%;
     }
    }


    @media only screen and (max-width: 900px){
        .get_the_zomato_app{
        padding: 2rem 0;
    }
    .get_the_zomato_app .semicontents{
         width: 95%;
        flex-direction: column;
    }
}

.footer{
    width: 100%;
}
.footer_section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.footer_section1 img{
    width: 120px;
}

.section1_button_contents{
    display: flex;
    gap: 1rem;
}

.section1_button_contents button{
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.navigation_contents{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem  0;
}
 
.link_contents{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link_contents h5{
    font-weight: 500;
    font-size: 15px;
    margin: 5px;
    letter-spacing: 0.8px;
}

.footer_link{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 300;
}
.footer_link:hover{
    color: black;
}

.Section_link_contents button{
    background-color: black;
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    
}

.Section_link_contents button i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: size 14px;
}
.footer_section_logo{
    width: 100%
}

.Disclamer{
    width:90%;
    margin: auto;
    color: gray;
    font-size: 12px;
    border-top: 1px solid gray;
    padding: 1rem 0;
}


@media only screen and (max-width:900px){
    .navigation_content{
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width:600px){
    .navigation_content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width:300px){
    .navigation_content{
        grid-template-columns: repeat(1,1fr)
    }
}



